<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      {{!-- <form class="col-md-12" method="post"> --}}
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              {{#if cart.length}}
              {{#each cart}}
              {{#each items}}
              <tr data-product-id="{{this.product._id}}">
                <td class="product-thumbnail">
                  <img src="../../../images/product/{{product.image}}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{product.name}}</h2>
                </td>
                <td class="product-price">{{product.price}}$</td>

                <td>
                  <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                    <form action="/cart/update" method="POST" style="display:inline;">
                      <div class="input-group-prepend">
                        <input type="hidden" name="productId" value="{{this.product._id}}">
                        <input type="hidden" name="action" value="decrement">
                        <button type="submit" class="btn btn-outline-black minus">-</button>
                      </div>
                    </form>

                    <span class="quantity form-control text-center quantity-amount"
                      style="display: flex; align-items: center; justify-content: center;">{{this.quantity}}</span>

                    <form action="/cart/update" method="POST" style="display:inline;">
                      <div class="input-group-append">
                        <input type="hidden" name="productId" value="{{this.product._id}}">
                        <input type="hidden" name="action" value="increment">
                        <button type="submit" class="btn btn-outline-black plus">+</button>
                      </div>
                    </form>

                  </div>
                </td>
                <td class="product-total">{{kopaytirish product.price quantity}}$</td>
                <form action="/cart/delete" method="POST">
                  <input name="productId" type="hidden" value="{{this.product._id}}">
                  <td><button class="btn btn-black btn-sm">X</button></td>
                </form>
              </tr>
              {{/each}}
              {{/each}}
              {{else}}
              KARZINKA BO'SH
              {{/if}}

            </tbody>
          </table>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6">
            <a href="/shop" class="btn btn-outline-black btn-sm btn-block">Continue Shopping</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            {{#if cart.length}}
            {{#each cart}}
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black" id="formatted-price">{{narx totalPrice}}$</strong>
              </div>
            </div>
            {{/each}}
            {{else}}
            {{/if}}
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='/checkout'">Proceed To
                  Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  async function updateCart(productId, action) {
    const response = await fetch('/cart/update', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ productId, action })
    });

    const data = await response.json();

    if (data.success) {
      // Update the DOM with the new quantity and total
      const cartItem = document.querySelector(`[data-product-id="${productId}"]`);
      cartItem.querySelector('.quantity').textContent =
        data.cart.products.find(p => p.product._id === productId).quantity;
      document.querySelector('.total-price').textContent = `${data.cart.total.toFixed(2)}`;
    }

  }
</script>